body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.keyboard {
    display: grid;
    grid-template-columns: repeat(15, 50px);
    grid-gap: 10px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.key {
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    height: 50px;
}
.key:hover {
    background-color: #777;
}
.key.wide {
    grid-column: span 2;
}
.key.shift {
    grid-column: span 3;
}
.key.space {
    grid-column: span 7;
}
.key .top, .key .bottom {
    font-size: 16px;
    line-height: 1;
}
.key .top {
    margin-bottom: 3px; /* vertikálna medzera */
}

.key.pressed {
    background-color: #f4f4f4;  /* Farba pre stlačenú klávesu */
    color: #333333;
}

.container {
    display: flex;
    flex-direction: column;  /* Vertikálne zarovnanie */
    justify-content: center;
    align-items: center;
    gap: 20px;  /* Medzera medzi terminálom a klávesnicou */
    padding: 20px;
}


/* Terminálový kontajner */
.terminal {
    width: 910px;  /* Rovnaká šírka ako klávesnica */
    height: 160px; /* Nastavenie výšky terminálu */
    background-color: #1e1e1e;
    color: #c9fdc9;
    font-family: 'Courier New', Courier, monospace;
    font-size:35px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* Možnosť posúvania ak je veľa textu */
}

/* Formulár pre nastavenie syntetizátora - css */

.configForm {
    width: 894px;
    border: 3px solid black;
    padding: 16px;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(0, 0, 0), #393999);
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.configForm div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.configForm label {
    font-weight: bold;
    font-size: 14px;
}

.configForm input, .configForm select {
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: #f0f0f0;
    color: black;
    font-size: 14px;
    width: 60px;
}

.configForm input[type="number"] {
    width: 60px; /* Nastavenie šírky inputov */
}

.configForm select {
    flex-grow: 1; /* Šírka selectu, aby sa prispôsobil zvyšnej šírke */
}

.configForm div:last-child {
    flex-grow: 2;
}

.configForm input:focus, .configForm select:focus {
    outline: none;
    border: 2px solid #393999;
}
